:root {
    font-size: 62.5%;
    --backgrund-color: #0e0e0ee1;
}

#map {
    height: 600px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 30px -14px #42445a;
    border-radius: 1rem;
    margin-top: 2rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backgrund-color);
    color: #c0c0c0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.6rem;
}

.button-wybor-dania,
.button-wybor-restauracje {
    margin-left: 1rem;
    border: none;
    width: 7.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.button-wybor-dania {
    background-color: #d3d3d3;
    color: #303030;
}

.button-wybor-dania:hover {
    box-shadow: 0px 0px 68px 4px #6a6c83;
    transform: scale(1.03);
}

.button-wybor-restauracje {
    background-color: #999999;
    color: #303030;
}

.button-wybor-restauracje:hover {
    box-shadow: 0px 0px 68px 4px #696969;
    transform: scale(1.03);
}

.restauracje-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 1.5rem auto;
}

.restuaracja-box {
    margin: 0.5rem;
    background-color: #a0a0a0;
    color: black;
    padding: 0.9rem;
    border-radius: .65rem;
    box-shadow: 0px 0px 48px -4px #42445a;
    width: 22rem;
    height: 10rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.restuaracja-box:hover {
    box-shadow: 0px 0px 68px 4px #6a6c83;
    /*transform: scale(1.05);*/
}
.restauracja-nazwa {
    font-size: 1.6rem;
    font-weight: bold;
}

.restauracja-dane {
    font-size: 1.2rem;
}

.panel-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar-panel {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-color: #7a7a7a;
    float: left;
    text-align: center;
    border-radius: 0 0 1.95rem 0;
    padding-bottom: 2rem;
}

.wyniki-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.panel-header {
    margin: 2rem;
    width: 100%;
    text-align: center;
}

.tabela-wyniki {
    border: 1px solid #696969;
    width: 100%;
    /*margin-top: 2.8rem;*/
    border-collapse: collapse;
    text-align: left;
}

th {
    border: 1px solid #696969;
    background-color: #5c5c5c;
    color: #000000;
    padding: 5px;
    font-size: 1.5rem;
}

td {
    border: 1px solid #696969;
    /*background-color: #828282;*/
    color: #000000;
    padding: 5px;
    font-size: 1.5rem;
}

.edytowanie {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

input[type=text],
input[type=number] {
    background: #4646468a;
    width: 100%;
    height: 4.8rem;
    border: none;
    transition: all 0.4s ease-in-out;
}

input[type=text]:focus,
input[type=number]:focus {
    background-color: #ffffff88;
    border: none;

}

.button-edit {
    background: #00000000;
    border: none;
}

.button-delete {
    background: #00000000;
    border: none;
}

.button-add {
    background: #00000000;
    border: none;
    margin: 0, auto;
}

.cell-center-add {
    text-align: center;
    /*background: rgb(0, 131, 0);*/

}

.cell-center-del {
    text-align: center;
    /*background: rgb(139, 4, 4);*/

}

.cell-center-edt {
    text-align: center;
    /*background: rgb(44, 44, 139);*/

}

.button-icon {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

tr {
    background-color: #636363;
}

tr:nth-child(even) {
    background-color: #797979;
}

.button-tabele {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #414040;
    font-size: 14px;
    border-radius: 3px;
    height: 40px;
    width: 90%;
    font-weight: bold;
    transition: 0.3s;
    background-color: #9aa0a6;
    margin: 5px;
    margin: 0, auto;
}

.button-tabele:hover {
    opacity: .7;
}

.button-back {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #525252;
    font-size: 14px;
    border-radius: 3px;
    height: 40px;
    width: 10%;
    font-weight: bold;
    transition: 0.3s;
    background-color: #9aa0a6;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-back:hover {
    opacity: .7;
}

.error-container,
.success-container {
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 70vh;
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.error-container {
    border: 0.1rem solid #c70000c2;
    box-shadow: 0 0 10px #860000;
}

.success-container {
    border: 0.1rem solid #047400c5;
    box-shadow: 0 0 10px #05a30081;
}

.dania-container {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.danie-box {
    margin: 2rem;
    background-color: #414141;
    width: 28%;
    border-radius: 1.55rem;
    padding-top: 0;
}

.zdjecie-danie {
    margin: 0;
    width: 100%;
    height: auto;
    border-top-right-radius: 1.55rem;
    border-top-left-radius: 1.55rem;
}

.danie-dane {
    margin: 2rem;
    margin: 0, auto;
    margin-left: auto;
    margin-right: auto;
    color: #dbdbdb;
    font-size: 50px;
    width: 95%;
    padding: 2rem;
    border-radius: 1.55rem;
    padding-top: 0;
}

.button-restauracja {
    padding: 0;
    margin: 0;
    background-color: #00000000;
    border: none;
}